# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Dependency files
*.egg-info/
*.eggs
*.egg

# Python package
*.egg-info/
.installed.cfg
*.egg

# dotenv
.env
.env.*
